<div class="mainComp">
  <h3>ViewRef</h3>
  <p>Это всего лишь ссылка на представление</p>
  <p>В Angular различают два вида представлений:</p>
  <ul>
    <li>Embedded Views - относятся к элементу ng-template;</li>
    <li>
      Host Views - относятся к компоненту и инициализируются в момент
      динамического создания компонентов.
    </li>
  </ul>
  <p>Embedded и Host Views размещаются в контейнере ViewContainerRef.</p>
  <p>
    Ниже реализовано два способа создани представлений и помещения их в
    контейнер, который имеет тип ViewContainerRef.
  </p>
</div>
