<div class="mainComp">
  <h3>ngTemplateOutlet и ngComponentOutlet</h3>

  <p>
    Директива ngTemplateOutlet создает из DOM-элемента ссылку ViewContainerRef и
    вставляет в него Embedded View, которое формируется по переданной шаблонной
    переменной прямо в шаблоне без написания кода в контроллере компонента.
  </p>
  <p>
    Директива ngComponentOutlet аналогична ngTemplateOutlet. Различие лишь в
    том, что она формирует представление Host View по переданному ей названию
    компонента.
  </p>
</div>
